<%= htmlWebpackPlugin.options.LAYOUT_BANNER %>

const { assets } = require('@architect/shared/util');
const html = require('../html');
const mountId = [
  'admin',
  Date.now(),
]

module.exports = (additional) => html`
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (process.env.NODE_ENV === 'testing') { %>
      <link rel="stylesheet" href="/assets/vendor_normalize-8.0.1.css" />
    <% } else { %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <% } %>
    <% htmlWebpackPlugin.files.css.forEach(function (file) { %>
      <%
        var fileName = file.split('/').pop();
      %>
      <link href="<%= '\u0024' %>{assets('<%= fileName %>')}" rel="stylesheet">
    <% }) %>
  </head>
  <body>
    <div id="<%= '\u0024' %>{mountId.join('-')}"></div>

    <script>
      const __blog__ = { mountId: '<%= '\u0024' %>{mountId.join('-')}' };
    </script>
    <% if (process.env.NODE_ENV === 'testing') { %>
      <script src="/assets/vendor_react-16.7.0-alpha.1.js"></script>
      <script src="/assets/vendor_react-dom-16.7.0-alpha.1.js"></script>
      <script src="/assets/vendor_react-router-dom-4.3.1.js"></script>
      <script src="/assets/vendor_react-ace-6.3.2.js"></script>
      <script src="/assets/vendor_brace-theme-github-0.11.1.js"></script>
      <script src="/assets/vendor_brace-mode-markdown-0.11.1.js"></script>
    <% } else { %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0-alpha.1/umd/react.production.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0-alpha.1/umd/react-dom.production.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/4.3.1/react-router-dom.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/react-ace/6.3.2/react-ace.min.js"></script>
      <script src="https://unpkg.com/brace@0.11.1/theme/github.js"></script>
      <script src="https://unpkg.com/brace@0.11.1/mode/markdown.js"></script>
    <% } %>
    <%= '\u0024' %>{additional}
    <% htmlWebpackPlugin.files.js.forEach(function (file) { %>
      <%
        var fileName = file.split('/').pop();
      %>
      <script src="<%= '\u0024' %>{assets('<%= fileName %>')}"></script>
    <% }) %>
  </body>
</html>
`;
