<%= htmlWebpackPlugin.options.LAYOUT_BANNER %>

const { assets } = require('@architect/shared/util');
const html = require('../html');

module.exports = (title, content) => {
  const mainTitle = 'ek|blog';
  const hasTitleArgument = Boolean(content);
  const blogContent = content || title;
  const blogTitle = hasTitleArgument ? [title, mainTitle].join(' :: ') : mainTitle;

  return html`
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= '\u0024' %>{blogTitle}</title>
    <% if (process.env.NODE_ENV === 'testing') { %>
      <link rel="stylesheet" href="/assets/vendor_normalize-8.0.1.css" />
    <% } else { %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <% } %>
    <% htmlWebpackPlugin.files.css.forEach(function (file) { %>
      <%
        var fileName = file.split('/').pop();
      %>
      <link href="<%= '\u0024' %>{assets('<%= fileName %>')}" rel="stylesheet">
    <% }) %>
  </head>
  <body>
    <header class="site-header">
      <span class="site-title"><a href="/">Blog</a></span>
    </header>
    <%= '\u0024' %>{blogContent}
  </body>
</html>
`;
};
